<html>
  <body>
    <script type="text/javascript" src="/javascripts/postcl.js"></script>
  </body>
</html>

<h1>Bookmark created!</h1>

<%= @url %>
<%= @page_title %>

<%= link_to("Save this search", bookmarklet_link_url) %>