<div><h1>Welcome to Craigslist Alerter</h1></div>
<div><h2> Drag this bookmarklet to your browser and start saving your searches</h2></div>
<div><h3> You'll be notified either SMS or e-mail when new items are posted></div>

<%= link_to("Drag me to your broswer", bookmarklet_link_url) %>

<%end%>