if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too  
	script = document.createElement( 'script' );  
script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';  
script.onload=createAndRenderPopout;  
document.body.appendChild(script);  
}  
else {  
	createAndRenderPopout();  
}  

// Create a divs, containing a form and a submit button. 
function createDivs() {
	$("body").append("<form id=\"myForm\" style=\"width:400px; height:100px; padding:20px; font-family: courier,monospace; border:5px solid; margin:auto; text-align:center; border-radius: 50px; opacity:1; position:fixed; top:100px; left:0; right:0; z-index: 1; background-color: #FFFF33 ;\"> Save this search! <br></br> Title Your Search: <input type=\"text\" title=\"search title\"><br></br><input type=\"submit\" value=\"Save\"></form>")
}

// Set the CSS of the divs and form
function displayDivs() {

}

//AJAX post form
$("myForm").submit(function() {


})

function createAndRenderPopout() {
	if($("#myForm").length == 0)  {
		createDivs();
	}
		displayDivs();  
	    <!-- javascript form -->
}