if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too  
	script = document.createElement( 'script' );  
script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';  
script.onload=createAndRenderPopout;  
document.body.appendChild(script);  
}  
else {  
	createAndRenderPopout();  
}  


// Create a divs, containing a form and a submit button. 
function createDivs() {
return $("body").append("<form id=\"myForm\" action=\"<%= create_user_bookmarklet_url %>\" method=\"post\" style=\"width:400px; height:100px; padding:20px; font-family: courier,monospace; border:5px solid; margin:auto; text-align:center; border-radius: 50px; opacity:1; position:fixed; top:100px; left:0; right:0; z-index: 1; background-color: #FFFF66\"> Save this search! <br></br> Title Your Search: <input type=\"text\" name=\"title\"><br></br><input type=\"hidden\" name=\"url\" value=\""+window.location.href+"\"><input type=\"submit\" value=\"Save\"><input type=\"hidden\" name=\"authenticity_token\" value=\"<%= form_authenticity_token %>\"></form>")
}

//AJAX post form
$("#myForm").submit(function() {

  var url = $(this).attr("action")
  var sendCraigslistItem = $("<script></script>")
  .attr("src", url + "?" + $(this).serialize())
  .attr("async", "true")
  .attr("id", "postToCLScraper");

  $("body").append(sendCraigslistItem)
  setTimeout("closePopOut()", 100);

	return false;
})

function closePopOut() {
	if($("#myForm").length != 0)  {
    $("#myForm").detach()
	}

  if ($("#postToCLScraper").length != 0)  {
    $("#postToCLScraper").detach()
  }
}

function createAndRenderPopout() {
  closePopOut()
  createDivs();
}
